* {
	font-family: sans-serif;
	font-size: small;
}

#external {
	color: yellow;
}

h1 {
	font-size: xx-large;
}

#head {
	text-transform: uppercase;
}

.languages_learned {
	background-color: seagreen;
}
